html *
{
   font-size: 15px;
   color: #000;
   font-family:'Roboto',sans-serif;
}

a:visited{
    color: #83a215;
}

p{
    color: #666;
    font-size: 16px;
}
.green-canterbury{
    color: #b5d449;
}

.small-font{
    font-size: 12px;
    display: inline-block;
    font-weight: 700;
    color: #ccc;
    border: 2px solid #ccc;
    cursor: pointer;
    width: 20px;
    height: 23px;
    text-align: center;
}

.small-font> a{
    font-size: 12px;
}

.medium-font{
    font-size: 16px;
    display: inline-block;
    font-weight: 700;
    color: #ccc;
    border: 2px solid #ccc;
    cursor: pointer;
    width: 23px;
    height: 28px;
    text-align: center;
}

.medium-font> a{
    font-size: 16px;
}

.big-font{
    font-size: 24px;
    display: inline-block;
    font-weight: 700;
    color: #ccc;
    border: 2px solid #ccc;
    cursor: pointer;
    width: 26px;
    height: 36px;
    text-align: center;
}

.big-font> a{
    font-size: 24px;
}

.header-style{
    width: 100%;
    border: none;
    height: 96px;
    padding: 0px;
    margin: 0px;
}

.jsontext{
    width: 70%;
    height: 300px;
}

.rwtxt{
    width: 100%;
}

.adv-style{
    font-weight: 700;
    font-size: 23px;
}

.jstree-anchor{
    width: 1000px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.popup-window{
    display: none;
    overflow-y: auto;
    background: rgba(181, 212, 73, .5 );
    align-items: center;
    top: 0;
    bottom: 0;
    padding: 10px;
    z-index: 1;
    position: fixed;
    left: 0;
    right: 0;
}

.popup-close{
    float: right;
    margin-top: -22px;
    margin-right: -13px;
    text-decoration: none;

}

.PopUpButton{
    background-color: #b5d449;
    padding: 8px 26px 8px 26px;
    border-radius: 8px;
    font-size: 14px;
    color: #fff;
    border: 1px solid #b5d449;
    cursor: pointer;
    margin-top: 7px;
}

.close >span{
    font-size: 20px;
    vertical-align: top;
    color: #fff !important;
}

.alert-warning{
    background-color: #252525 !important;
    color: #fff !important;
}

.alert{
    padding-top: 10px  !important;
    padding-bottom: 10px  !important;
    padding-left:  14px !important;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
}

.nopadding{
    padding:0px;
}

.alert-warning > strong{
    color: #fff !important;
}


.popup-processing {
    background-color: #fff;
    border: 5px solid #b5d449;
    border-radius: 8px;
    padding: 36px 29px 29px 20px;
    width: 391px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 18;
    position: relative;
    text-align: center;
}

.clspopup{
    cursor: pointer; font-weight: bold;
}

.input-tag{
    width: 150px;
}

.full-width{
    width: 100%;
}

.btn-ctibutton{
    background-color: #b5d449;
    padding: 8px 26px 8px 26px;
    font-size: 14px;
    color: #fff;
    border: 1px solid #b5d449;
    cursor: pointer;
}

.jstree-anchor{
    width: 780px;
}

.taglist{
    z-index: 2;
}

.rowspace{
    margin-bottom: 5px;
}

.select2-container{
 width: 100% !important;
}

.centerctrl
{
    margin: 0 auto;
}

.btn-ctibuttontg 
{
    background-color: #b5d449;
    padding: 8px 6px 8px 6px;
    font-size: 14px;
    color: #fff;
    border: 1px solid #b5d449;
    cursor: pointer;
}